    .send-button {
        background-color: green;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 5px;
        border-width: 0px;
        font-size: medium;
      }
      .chat-input-text {
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #000000;
        font-size: medium;
      }
      .chat-input {
        display: flex;
        margin:auto;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        padding: 10px 20px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
      }
      .chat-message-robot {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #f0f0f0;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      .chat-message-user {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #d0e0ff;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        justify-content: flex-end;
      }
        .chat-messages {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 150px;
        }